html,
body {
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  overflow: hidden;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 100%;
  background-color: #2F3238;
  font-size: 0;
  position: relative;
}
#wrap .controls {
  min-width: 100%;
  height: 25px;
  background-color: #232221;
  position: relative;
}
#wrap .controls .btns {
  width: 55px ;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
#wrap .controls .btns span {
  display: inline-block;
  width: 9px;
  height: 11px;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
}
#wrap .controls .btns span:nth-child(1) {
  margin-top: 10px;
  background-position: 0px -23px;
  margin-right: 10px;
}
#wrap .controls .btns span:nth-child(1) .active {
  background-position: 0px -11px;
}
#wrap .controls .btns span:nth-child(2) {
  background-position: 0px 0px;
}
#wrap .controls .progress {
  height: 25px;
  margin-left: 55px;
  margin-right: 230px;
  position: relative;
}
#wrap .controls .progress .container {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #CCCCCC;
  margin-top: 12px ;
}
#wrap .controls .progress .container .inner {
  position: absolute;
  margin-top: -3px;
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  border-radius: 3px;
}
#wrap .controls .progress .deeppink {
  width: 0px;
  height: 3px;
  background-color: deeppink;
  position: absolute;
  margin-top: 12px;
}
#wrap .controls .time-sound {
  position: absolute;
  width: 230px;
  height: 25px;
  right: 0;
  bottom: 0;
  text-align: center;
}
#wrap .controls .time-sound > div {
  float: left;
  height: 25px;
}
#wrap .controls .time-sound .time {
  width: 120px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  color: white;
}
#wrap .controls .time-sound .sound {
  width: 80px;
  position: relative;
}
#wrap .controls .time-sound .sound .muted {
  width: 12px;
}
#wrap .controls .time-sound .sound .muted span {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/icon.png) no-repeat 0px -34px;
  margin-top: 5px;
}
#wrap .controls .time-sound .sound .muted span.active {
  background-position: 0px -46px;
}
#wrap .controls .time-sound .sound .sound-progress {
  width: 60px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 12px ;
}
#wrap .controls .time-sound .sound .sound-progress > div {
  float: left;
}
#wrap .controls .time-sound .sound .sound-progress .sound-container {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #CCCCCC;
  margin-top: 10px;
}
#wrap .controls .time-sound .sound .sound-progress .sound-container .sound-inner {
  position: absolute;
  margin-top: -2px;
  top: 0px;
  width: 9px;
  height: 8px;
  background-color: #FFFFFF;
  border-radius: 1px;
}
#wrap .controls .time-sound .sound .sound-progress .sound-pink {
  width: 0px;
  height: 3px;
  position: absolute;
  background-color: deeppink;
  margin-top: 10px;
}
#wrap .controls .time-sound .full-screen {
  width: 13px;
}
#wrap .controls .time-sound .full-screen span {
  margin-top: 5px;
  display: block;
  width: 14px;
  height: 10px;
  background: url(../img/icon.png) 1px -58px;
}
#wrap .controls .time-sound .full-screen span.active {
  background-position: 1px -69px;
}
.active {
  background-position: 0px -11px;
}
